aim : Study of list in python

In [ ]:
# medhansh gupta - 25070123074
list1=["apple","banana","orange"]
list2=[2,2,3,"medhansh",True]
list3=["apple","banana","apple","orange"]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'orange']
[2, 2, 3, 'medhansh', True]
['apple', 'banana', 'apple', 'orange']

In [ ]:
list4=["apple","banana","orange","cherry","mango","kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

orange
orange
['orange', 'cherry', 'mango']
['apple', 'banana', 'orange', 'cherry']
['orange', 'cherry', 'mango', 'kiwi']

In [ ]:
list5=["apple","orange","mango"]
list5[1]="cherry"
print(list5)

['apple', 'cherry', 'mango']

In [ ]:
list6=["apple","orange","cherry"]
list6.append("mango")
print(list6)

['apple', 'orange', 'cherry', 'mango']

In [12]:
list7=["apple","orange","mango"]
list7.insert(1,"mango")
print(list7)

['apple', 'mango', 'orange', 'mango']

In [14]:
list8=["apple","banana","orange"]
list9=["kiwi","mango"]
list8.extend(list9)
print(list8)
print(list9)

['apple', 'banana', 'orange', 'kiwi', 'mango']
['kiwi', 'mango']

In [26]:
# marks of 5 students
marks=[90,82,66,76,33]
print("maximum marks: ",max(marks))
print("minimum marks: ",min(marks))
print("total number of students: ",len(marks))
print("sum of marks: ",sum(marks))
print("average marks: ",sum(marks)/len(marks))
marks.sort()
print("sorted marks: ",marks)

maximum marks:  90
minimum marks:  33
total number of students:  5
sum of marks:  347
average marks:  69.4
sorted marks:  [33, 66, 76, 82, 90]

In [27]:
grocery=["carrot","potato","tomato","cheese"]
grocery.append("milk")
grocery.remove("carrot")
grocery.remove("potato")
print(grocery)

['tomato', 'cheese', 'milk']